In [1]:
import pandas as pd
import os

import numpy as np
import math
import random
import itertools
import random
from sklearn.externals import joblib

import matplotlib.pyplot as plt
import math

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
label_file = "Dataset/selection_bmi_special.csv"
data_df = pd.read_csv(label_file)
data_df

     height  weight    bmi
0    155.95   55.95  23.01
1    156.70   56.70  23.09
2    154.15   54.15  22.79
3    155.45   55.45  22.95
4    157.25   57.25  23.15
..      ...     ...    ...
481  154.30   54.30  22.81
482  158.65   58.65  23.30
483  160.95   60.95  23.53
484  164.30   64.30  23.82
485  162.55   62.55  23.67

[486 rows x 3 columns]

In [3]:
estimation_val = []
true_val = []

In [4]:
data = data_df.drop(['bmi'], axis=1)

In [5]:
data_arr = data.to_numpy()

In [6]:
label = data_df['bmi']
label

0      23.01
1      23.09
2      22.79
3      22.95
4      23.15
       ...
481    22.81
482    23.30
483    23.53
484    23.82
485    23.67
Name: bmi, Length: 486, dtype: float64

In [7]:
temp_label = label.to_numpy()
temp_label

array([23.01, 23.09, 22.79, 22.95, 23.15, 23.65, 23.42, 23.48, 22.94,
       23.3 , 23.33, 23.52, 23.11, 23.65, 23.02, 23.56, 23.27, 23.14,
       22.9 , 23.21, 23.39, 23.73, 23.73, 22.87, 22.89, 23.24, 23.34,
       23.23, 23.14, 23.12, 23.13, 23.68, 23.15, 23.11, 23.05, 23.24,
       22.78, 23.07, 23.31, 23.13, 22.93, 23.57, 23.37, 23.7 , 22.84,
       22.88, 22.81, 22.78, 23.52, 22.94, 23.57, 22.8 , 22.86, 22.89,
       23.26, 23.48, 23.16, 24.02, 22.79, 24.16, 23.02, 22.99, 22.83,
       23.68, 23.02, 22.92, 23.57, 23.68, 22.88, 23.42, 23.36, 23.24,
       23.43, 23.71, 23.12, 22.82, 23.46, 22.8 , 22.9 , 22.79, 23.48,
       23.11, 23.45, 23.6 , 23.43, 22.86, 23.82, 23.31, 23.06, 22.87,
       23.73, 23.35, 23.33, 23.7 , 23.  , 24.14, 23.32, 23.92, 23.18,
       23.27, 23.54, 23.18, 23.24, 23.3 , 23.57, 23.3 , 23.61, 22.84,
       23.52, 23.57, 23.5 , 23.1 , 22.99, 23.34, 23.63, 23.65, 23.05,
       23.03, 23.43, 23.57, 23.72, 23.34, 22.77, 22.92, 22.92, 23.14,
       23.3 , 23.68, 23.98, 22.8 , 23.49, 23.11, 23.7 , 22.83, 23.06,
       23.2 , 22.84, 23.11, 23.11, 22.92, 23.72, 23.48, 23.72, 23.73,
       23.62, 22.82, 23.37, 23.38, 23.27, 23.25, 23.07, 23.03, 22.92,
       23.51, 22.89, 23.51, 23.34, 23.23, 23.03, 22.9 , 23.16, 23.09,
       23.04, 23.27, 23.11, 22.86, 22.92, 23.23, 22.96, 23.62, 23.27,
       23.63, 24.01, 23.38, 23.37, 23.92, 23.91, 24.16, 22.8 , 23.28,
       23.93, 23.75, 23.11, 23.92, 22.99, 24.07, 24.17, 23.02, 23.92,
       23.7 , 23.22, 23.09, 23.51, 22.89, 23.5 , 23.67, 23.05, 23.53,
       23.39, 22.8 , 23.  , 23.43, 23.36, 23.48, 23.89, 23.04, 23.33,
       23.14, 23.81, 23.23, 23.41, 23.15, 24.07, 23.97, 22.86, 23.  ,
       22.85, 23.37, 23.67, 22.92, 24.18, 22.85, 22.85, 23.73, 22.93,
       23.55, 24.21, 23.51, 23.1 , 22.86, 22.88, 23.31, 23.32, 23.57,
       23.87, 23.01, 23.05, 23.37, 23.23, 22.87, 23.24, 23.24, 23.72,
       23.88, 24.02, 22.92, 23.33, 23.98, 22.79, 23.01, 23.28, 23.35,
       23.34, 23.82, 23.56, 23.9 , 22.92, 23.88, 23.36, 23.47, 22.89,
       24.01, 23.33, 23.37, 23.66, 23.2 , 22.78, 22.78, 23.58, 23.12,
       23.85, 22.86, 24.03, 23.36, 23.58, 23.44, 23.9 , 23.64, 23.77,
       23.17, 23.21, 23.87, 23.27, 23.08, 24.02, 23.14, 23.11, 24.08,
       24.07, 22.97, 23.3 , 23.07, 24.06, 23.88, 23.  , 23.25, 23.19,
       23.77, 23.61, 23.14, 23.19, 22.86, 22.8 , 22.81, 23.97, 23.03,
       23.24, 23.69, 23.38, 23.76, 23.19, 24.09, 24.14, 23.26, 22.88,
       24.14, 24.21, 24.09, 24.13, 23.29, 23.89, 23.56, 23.42, 23.97,
       22.88, 23.09, 23.53, 23.46, 23.11, 23.5 , 22.89, 23.3 , 23.14,
       23.86, 23.53, 23.03, 23.65, 23.22, 23.08, 23.52, 22.82, 23.07,
       23.25, 23.61, 23.48, 22.83, 24.01, 23.79, 24.05, 22.78, 23.3 ,
       24.08, 24.02, 23.17, 22.78, 22.96, 23.05, 23.57, 23.6 , 23.16,
       22.98, 22.84, 22.82, 23.25, 22.86, 23.74, 23.88, 23.82, 23.32,
       24.08, 22.88, 23.45, 23.13, 22.9 , 24.01, 23.14, 22.82, 23.57,
       23.47, 22.98, 23.04, 22.99, 23.1 , 23.  , 23.9 , 23.63, 23.25,
       23.73, 23.64, 23.95, 23.36, 23.43, 23.58, 23.33, 22.93, 24.03,
       23.24, 23.23, 23.19, 23.22, 23.41, 22.86, 24.15, 23.94, 23.99,
       23.26, 23.33, 23.14, 23.21, 22.81, 22.98, 23.11, 23.07, 23.85,
       23.21, 22.93, 23.49, 23.56, 23.24, 23.42, 23.35, 22.81, 24.08,
       23.47, 22.78, 24.21, 23.77, 23.01, 23.02, 23.03, 23.05, 23.32,
       23.03, 23.53, 23.33, 23.23, 22.98, 23.39, 23.53, 23.21, 24.1 ,
       23.71, 24.03, 23.28, 23.32, 22.93, 24.21, 23.01, 23.98, 22.78,
       23.99, 23.1 , 22.84, 23.66, 23.51, 22.96, 23.29, 23.47, 24.09,
       23.62, 23.5 , 22.89, 23.62, 23.51, 22.9 , 22.87, 23.05, 24.19,
       22.82, 23.57, 22.92, 23.27, 23.3 , 22.81, 23.07, 23.84, 23.47,
       22.9 , 24.15, 23.07, 22.78, 22.81, 23.3 , 23.53, 23.82, 23.67])

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_arr, temp_label, test_size=0.2, random_state=1)

In [9]:
true_val = y_test
true_val

array([23.38, 22.92, 23.11, 23.14, 23.43, 23.57, 23.97, 23.63, 23.05,
       23.89, 23.68, 23.3 , 22.9 , 22.96, 22.89, 23.98, 23.09, 22.81,
       22.96, 23.36, 22.93, 23.68, 22.82, 23.03, 23.93, 23.38, 23.72,
       23.03, 24.14, 23.25, 23.42, 23.02, 22.86, 23.15, 22.78, 22.86,
       23.28, 23.11, 22.86, 22.9 , 23.64, 22.78, 22.83, 23.57, 23.79,
       23.1 , 22.83, 23.56, 23.65, 23.14, 23.7 , 23.33, 22.88, 23.88,
       23.14, 23.24, 22.78, 23.07, 24.01, 23.24, 23.61, 22.92, 23.73,
       23.62, 23.11, 23.27, 23.03, 23.37, 23.73, 23.12, 23.33, 23.99,
       22.84, 24.19, 23.48, 23.01, 22.98, 23.14, 23.05, 22.9 , 23.2 ,
       22.78, 23.39, 23.17, 23.36, 24.06, 23.05, 24.02, 23.42, 22.81,
       23.52, 22.85, 23.29, 23.5 , 23.13, 24.21, 23.33, 22.79])

In [10]:
from sklearn import  linear_model
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from math import sqrt
from sklearn.preprocessing import PolynomialFeatures

In [11]:
def create_polynomial_regression_model(degree):
    #"Creates a polynomial regression model for the given degree"
    poly_features = PolynomialFeatures(degree=degree)
    # transforms the existing features to higher degree features.
    X_train_poly = poly_features.fit_transform(X_train)
    # fit the transformed features to Linear Regression
    poly_model = linear_model.LinearRegression()
    poly_model.fit(X_train_poly, y_train)
    # predicting on training data-set
    y_train_predicted = poly_model.predict(X_train_poly)
#     y_train_predicted = np.expm1(y_train_predicted)
    # predicting on test data-set
    y_test_predict = poly_model.predict(poly_features.fit_transform(X_test))
#     y_test_predict = np.expm1(y_test_predict)
    # evaluating the model on training dataset
    rmse_train = np.sqrt(mean_squared_error(y_train, y_train_predicted))
    rmae_train = (mean_absolute_error(y_train, y_train_predicted))
    r2_train = r2_score(y_train, y_train_predicted)
    # evaluating the model on test dataset
    for i in y_test_predict:
        estimation_val.append(i)
    rmse_test = np.sqrt(mean_squared_error(y_test, y_test_predict))
    rmae_test = (mean_absolute_error(y_test, y_test_predict))
    r2_test = r2_score(y_test, y_test_predict)
#     print("The model performance for the training set")
#     print("-------------------------------------------")
#     print("RMSE of training set is {}".format(rmse_train))
#     print("RMAE of training set is {}".format(rmae_train))
#     print("Model score of training set is {}".format(r2_train))
#     print("\n")
    print("The model performance for the test set")
    print("-------------------------------------------")
    print("RMSE of test set is {}".format(rmse_test))
    print("RMAE of test set is {}".format(rmae_test))
    print("Model score of test set is {}".format(r2_test))

In [12]:
def report_goodness(model,X_test,y_test,predictor_log=True):
    # Make predictions using the testing set
    y_pred = model.predict(X_test)
    y_true = y_test
    if predictor_log:
        y_true = np.log(y_test)
    print('Model Performance')
    print("Root Mean squared error: %.4f" %sqrt(mean_squared_error(y_true, y_pred)))
    print("Mean squared error: %.4f" %mean_squared_error(y_true, y_pred))
    print('Mean Absolute Error: %.4f' %mean_absolute_error(y_true, y_pred))
    print('Variant score: %.4f' %r2_score(y_true, y_pred))

In [13]:
model_linear = linear_model.LinearRegression()
model_linear = model_linear.fit(X_train,y_train)

report_goodness(model_linear,X_test,y_test, False)

Model Performance
Root Mean squared error: 0.0370
Mean squared error: 0.0014
Mean Absolute Error: 0.0306
Variant score: 0.9909

In [14]:
model_ridge = Ridge(fit_intercept=True, alpha=0.0001, random_state=4)
model_ridge = model_ridge.fit(X_train,y_train)

report_goodness(model_ridge,X_test,y_test, False)

Model Performance
Root Mean squared error: 0.0370
Mean squared error: 0.0014
Mean Absolute Error: 0.0306
Variant score: 0.9908

In [15]:
model_lasso = Lasso(fit_intercept=True, alpha=0.0001, random_state=4, max_iter=2000)
model_lasso = model_lasso.fit(X_train,y_train)

report_goodness(model_lasso,X_test,y_test,False)

Model Performance
Root Mean squared error: 0.0370
Mean squared error: 0.0014
Mean Absolute Error: 0.0306
Variant score: 0.9908

In [16]:
create_polynomial_regression_model(2)

The model performance for the test set
-------------------------------------------
RMSE of test set is 0.003433324581651954
RMAE of test set is 0.0029876833545919063
Model score of test set is 0.9999213930236814

In [17]:
df = pd.DataFrame(columns = ['estimation', 'ground truth'])
df['ground truth'] = true_val
df['estimation'] = estimation_val
df

    estimation  ground truth
0    23.381958         23.38
1    22.916992         22.92
2    23.105957         23.11
3    23.134277         23.14
4    23.426758         23.43
..         ...           ...
93   23.504883         23.50
94   23.128906         23.13
95   24.203857         24.21
96   23.326416         23.33
97   22.796875         22.79

[98 rows x 2 columns]

In [18]:
df.to_csv('5feature_bmi_final.csv', index=False)